/node_modules
/public/hot
/public/storage
/storage/calls
/storage/upload
/storage/*.key
/storage/*.wav
/vendor
/resources/assets
/.idea
/.vscode
/.vagrant
/public/*.html
/public/*.png
/public/*.svg
/public/css
/public/js
/public/documents
/public/files
/public/fonts
/public/images
/public/img
/public/mosaico
/public/packages
/public/sitemaps
/public/thumbnail
/public/uploads
/public/webfonts
/public/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
deploy.sh
